In [8]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
import urllib.request
import sys
import pandas as pd
import pyodbc
from psycopg2 import connect

In [64]:
xls = pd.ExcelFile('2005-19_UK_local_and_regional_CO2_emissions.xlsx')
df1 = pd.read_excel(xls, 'Full dataset',skiprows=[0])
df2 = pd.read_excel(xls, 'Pollution Inventory',skiprows=[0])
#df2.columns = ['Local Authority Distract Name', 'Operator', 'Site', 'Postcode','Reference','Substance Name','2005 year','2006 year','2007 year','2008 year','2009 year','2010 year','2011 year','2012 year','2013 year','2014 year','2015 year','2016 year','2017 year','2018 year','2019 year']
df2

,Local Authority Distract Name,Operator,Site,Postcode,Reference,Substance Name,2005 year,2006 year,2007 year,2008 year,...,2010 year,2011 year,2012 year,2013 year,2014 year,2015 year,2016 year,2017 year,2018 year,2019 year
0,Aberdeen City,Arjo Wiggins Ltd,Stoneywood Mill,AB21 9AB,0,Carbon dioxide,0.0,0.000,69.533000,59.867000,...,61.208,60.835000,60.913,63.393,63.3081,64.770,71.584,73.595,64.058,57.722
1,Aberdeen City,Scottish Water Contracting,Nigg STW,AB12 3LT,0,Carbon dioxide,0.0,0.000,0.000000,0.000000,...,0.000,0.000000,0.000,21.000,14.0000,14.000,15.000,16.000,15.000,0.000
2,Aberdeen City,Sita North East Ltd,Hill Of Tramaud Landfill Site,0,0,Carbon dioxide,0.0,0.000,0.000000,0.000000,...,0.000,12.000000,11.900,10.300,0.0000,0.000,0.000,0.000,0.000,0.000
3,Aberdeen City,United Fish Products Ltd,Aberdeen,AB12 3AY,0,Carbon dioxide,0.0,0.000,11.401146,10.858234,...,0.000,0.000000,0.000,0.000,0.0000,0.000,0.000,0.000,0.000,0.000
4,Aberdeenshire,BP Exploration Co Ltd,Cruden Bay,AB42 0QH,0,Carbon dioxide,0.0,0.000,15.000000,13.374340,...,0.000,0.000000,0.000,0.000,0.0000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2577,York,British Sugar Plc,York,YO26 6XF,BW9239IF,Carbon dioxide - 'thermal',0.0,57.291,80.640000,0.000000,...,0.000,0.000000,0.000,0.000,0.0000,0.000,0.000,0.000,0.000,0.000
2578,York,Nestle UK Ltd,York,YO91 1XY,BO9298IQ,Carbon dioxide,0.0,0.000,0.000000,0.000000,...,32.698,30.950000,26.668,26.778,30.5820,29.554,25.671,24.799,31.684,32.353
2579,York,Nestle UK Ltd,York,YO91 1XY,BO9298IQ,Carbon dioxide - 'thermal',0.0,0.000,0.000000,43.835000,...,0.000,0.000000,0.000,0.000,0.0000,0.000,0.000,0.000,0.000,0.000
2580,York,Yorkshire Water Services Ltd,York Naburn STW,YO23 2XD,27/24/0124,Carbon dioxide,0.0,0.000,0.000000,0.000000,...,0.000,0.000000,0.000,0.000,0.0000,0.000,0.000,0.000,0.000,0.000
2581,York,Yorwaste Ltd,York,YO23 3RR,BK0507IB,Carbon dioxide,13.7,0.000,0.000000,0.000000,...,0.000,0.031221,0.000,0.000,0.0000,0.000,0.000,0.000,0.000,0.000

In [60]:
df1

,Region/Country,Second Tier Authority,Local Authority,Code,Year,Industry Electricity,Industry Gas,Industry 'Other Fuels',Large Industrial Installations,Agriculture,...,Net Emissions: Grassland,Net Emissions: Wetlands,Net Emissions: Settlements,Net Emissions: Harvested Wood Products,LULUCF Net Emissions,Grand Total,"Population ('000s, mid-year estimate)",Per Capita Emissions (t),Area (km2),Emissions per km2 (kt)
0,North East,Darlington,Darlington,E06000005,2005,50.550343,101.278940,30.562372,0.043209,6.256185,...,-7.414084,0.000000,4.829007,0.000000,-0.901525,816.721455,100.287,8.143842,197.4758,4.135805
1,North East,Darlington,Darlington,E06000005,2006,54.152213,86.084018,29.496473,0.063666,6.081723,...,-7.576054,0.000000,4.665830,0.000000,-1.375206,799.804119,101.509,7.879145,197.4758,4.050137
2,North East,Darlington,Darlington,E06000005,2007,51.184033,84.152662,29.794050,0.072018,5.470460,...,-7.666460,0.000000,4.518375,0.000000,-1.996378,775.703345,102.632,7.558104,197.4758,3.928093
3,North East,Darlington,Darlington,E06000005,2008,50.584058,84.407453,36.551114,0.053536,5.679644,...,-7.795103,0.000000,4.381341,0.000000,-2.259225,766.428412,103.694,7.391251,197.4758,3.881126
4,North East,Darlington,Darlington,E06000005,2009,44.538614,72.672287,25.337118,1.168834,5.472433,...,-7.876808,0.000000,4.255476,0.000000,-2.298309,693.880495,104.355,6.649231,197.4758,3.513750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6340,National Total,National Total,National Total,NaN,2015,25770.859174,15841.098828,17849.168446,39068.316953,5678.792334,...,-2980.136707,1288.188206,5242.401015,-2800.323524,-1241.080483,397152.155527,65110.034,6.099707,248717.5814,1.596800
6341,National Total,National Total,National Total,NaN,2016,20189.023416,15632.027333,17807.958518,32850.425389,5921.738730,...,-2966.778884,655.978682,5520.557590,-2528.312395,-1582.652723,373745.487306,65648.054,5.693169,248717.5814,1.502690
6342,National Total,National Total,National Total,NaN,2017,18946.657827,13786.016749,18153.528298,33085.378883,5849.611540,...,-3281.379365,635.234451,5421.232364,-2297.522522,-1872.517811,361598.080083,66040.229,5.475421,248717.5814,1.453850
6343,National Total,National Total,National Total,NaN,2018,17639.557245,14557.462169,17732.489233,31783.799051,5943.436251,...,-3440.406039,1051.379715,5426.048342,-2195.488809,-1383.288330,357415.811108,66435.550,5.379888,248717.5814,1.437035
6344,National Total,National Total,National Total,NaN,2019,14887.350207,13582.358475,16768.513949,31431.520861,6243.375004,...,-3647.701194,1408.077726,5431.096756,-2222.563932,-1025.389508,344511.602203,66796.807,5.157606,248717.5814,1.385152

In [69]:
df1.to_parquet('UK_local_and_regional_CO2_emissions.parquet')
df2 = df2.astype("string")
df2.to_parquet('UK_local_and_regional_CO2_emissions_pollution_inventory.parquet')